<!DOCTYPE html>
<html ng-app="attendance">
<head>
    <title>Attendance</title>
    <!--The javascript-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="app/controllers/main.js"></script>
    <!--The css-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Attendance</h1>
                </div>
                <form role="form" ng-controller="VisitCtrl">
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset ng-controller="EventCtrl">
                                <legend>Event</legend>
                                <div class="form-group">
                                    <label>Add new Event:</label>
                                    <div class="form-inline">
                                        <input type="text" class="form-control" placeholder="Name." ng-model="newEvent.Name" />
                                        <a href="#" class="btn btn-primary" ng-click="postEvent()">Add Event</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Choose Event:</label>
                                    <div class="radio" ng-repeat="event in events">
                                        <label>
                                            <!--Checkbox-->
                                            <input type="radio" name="eventsRadio" ng-value="event" ng-model="$parent.selectedEvent" />
                                            <!--Read vs Edit-->
                                            <span ng-show="!event.edit">
                                                {{ event.Name }}
                                                <a href="#" ng-click="event.edit = true">Edit</a>
                                                <a href="#" ng-click="deleteEvent(event)">Delete</a>
                                            </span>
                                            <span ng-show="event.edit" class="form-inline">
                                                <input class="form-control" type="text" ng-model="event.Name" />
                                                <a href="#" ng-click="putEvent(event)">Save</a>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset ng-controller="PersonCtrl">
                                <legend>Persons</legend>
                                <div class="form-group">
                                    <label>Add new Person:</label>
                                    <div class="form-inline">
                                        <input type="text" class="form-control" placeholder="First name." ng-model="newPerson.First" />
                                        <input type="text" class="form-control" placeholder="Last name." ng-model="newPerson.Last" />
                                        <a href="#" class="btn btn-primary" ng-click="addPerson()">Add Person</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Choose Persons:</label>
                                    <div class="checkbox" ng-repeat="person in persons">
                                        <label>
                                            <input type="checkbox" ng-model="selectedPersons" />
                                            {{ person.FirstName }} {{ person.LastName }}
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset ng-controller="DatepickerCtrl">
                                <legend>Date</legend>
                                <div class="form-group">
                                    <pre>Selected date is: <em>{{visitDateTime | date:'fullDate' }}</em></pre>
                                    <div>
                                        <datepicker ng-model="visitDateTime" show-weeks="false" class="well well-sm"></datepicker>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <a href="#" class="btn btn-primary" ng-click="saveVisits()">Save Attendance</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
