<!DOCTYPE html>
<html ng-app="attendance">
<head>
    <title>Attendance</title>
    <!--The javascript-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="app/controllers/main.js"></script>
    <!--The css-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="page-header">
                    <h1>Attendance</h1>
                </div>
                <div role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div ng-controller="EventCtrl">
                                <div class="form-group">
                                    <label>Choose Event:</label>
                                    <select class="form-control">
                                        <option ng-repeat="event in events">{{ event.Name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-controller="PersonCtrl">
                                <div class="form-group">
                                    <label>Add new Person:</label>
                                    <div class="form-inline">
                                        <input type="text" class="form-control" placeholder="First name." ng-model="newPerson.First" />
                                        <input type="text" class="form-control" placeholder="Last name." ng-model="newPerson.Last" />
                                        <a href="#" class="btn btn-primary" ng-click="add()">Add</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Choose Persons:</label>                                    
                                    <div>
                                        <label ng-repeat="person in persons" class="checkbox-inline">
                                            <input type="checkbox" />
                                            {{ person.FirstName }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-controller="DatepickerCtrl">
                                <div class="form-group">
                                    <label>Choose Date:</label>
                                    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
                                    <div>
                                        <datepicker ng-model="dt" show-weeks="false" class="well well-sm"></datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-primary">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
