<connectionStrings>

  <!--SQL Express-->
  <!--<add name="AttendanceContext"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AttendanceContext_2;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />-->

  <!--LocalDb-->
  <!--<add name="AttendanceContext"
         connectionString="Data Source=(localdb)\\v11.0;Initial Catalog=AttendanceContext;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />-->

  <!--SQL Server-->
  <add name="AttendanceContext"
       connectionString="data source=FONTY;initial catalog=attendanceDb;integrated security=True;MultipleActiveResultSets=True;"
       providerName="System.Data.SqlClient" />    
  
</connectionStrings>